.sm{
  padding: 10% 0 4% 0;
  background-image: url(../assets/imgs/bg-sp.jpg);
  background-repeat: no-repeat;
}
.sm--container{
  width: 80%;
  margin: 0 auto;
  padding: 5% 0 0 0;
}
.sm h2{
  padding-bottom: 30px;
  color: var(--mh-green);
  font-size: 2rem;
  text-align: center;
}
.sm p{
  color: var(--mh-white);
  font-size: .8rem;
  text-align: center;
  margin-bottom: 20px;
}
.sm--span{
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.sm--span p{
  color: var(--mh-green);
  font-size: 1.1rem;
}
.sm--icons{
  display: flex;
  gap: 20px;
}
.sm--icons img{
  height: 20px;
}
.sm--portal{
  margin-bottom: .4rem;
  padding-top: 5%;
}
.sm--portal img{
  border: 1px solid #333;
}



/* Tablet */
@media (width >= 768px){
  .sm{
    background-image: url(../assets/imgs/bg.jpg);
  }
  .sm--container{
    padding: 0;
  }
  .sm--wrapp{
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: baseline;
    justify-content: center;
  }
  .sm--text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .sm--text h2{
    font-size: 1.5rem;
    padding-bottom: 10px;
  }
  .sm--text p,
  .sm--span p {
    font-size: .6rem;
  }
  .sm--span{
    margin: unset;
    margin-bottom: 50px;
  }
  .sm--icons{
    gap: 10px;
    transform: translate(0, 15px);
  }
  .sm--icons li:nth-of-type(1){
    padding-top: 5px;
  }
  .sm--portal img{
    display: block;
    width: 45%;
    margin: 0 auto;
  }
}



/* Desktop */
@media(width >= 768px){
  .sm--wrapp{
    gap: 50px;
    margin-bottom: 50px;
  }
  .sm--text h2 {
    font-size: 2.5rem;
  }
  .sm--text p,
  .sm--icons p{
    font-size: 1rem;
  }
  .sm--icons img{
    height: 25px;
  }
  .sm--portal img{
    width: 30%;
  }
}